<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('templates/file') %>
</head>

<body>
    <%- include('templates/head')%>
    <div class="container-fluid">
        <div class="row" id="content">
        <%- include('templates/menu',{name:"职位管理"})%>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <%- include('templates/breadcrumb',{name :[ {link:'',value:'职位管理'} ] })%>
            <div class="col-10 offset-1">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">职位名称</th>
                        <th scope="col">工作地点</th>
                        <th scope="col">工资薪酬</th>
                        <th scope="col">操作</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% infos.forEach((v,i)=>{ %>
                            <tr>
                                <th class="align-middle"><%= i+1%></th>
                                <td class="align-middle"><%= v.postName%></td>
                                <td class="align-middle" ><%= v.postCity%></td>
                                <td class="align-middle"><%= v.postMoney%></td>
                                <td class="align-middle" width="200">
                                    <a class="btn btn-primary btn-sm" href="/admin/postupdate/<%= v.postId%>">编辑</a>
                                    <button class="btn btn-danger btn-sm">删除</button>

                                </td>
                              </tr>
                        <%  })%>
                    
                    </tbody>
                  </table>
            </div>
        </main>
        </div>
    </div>

</body>

</html>